* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: calibri;
	color: rgb(98, 98, 98);
}
main {
	margin: 50px auto;
	padding: 10px;
	gap: 10px;
	border: 1px solid gainsboro;
	border-radius: 6px;
	display: grid;
	grid-template-areas: "title title" "type_entry result_output" "len_freq_input result_output";
	max-width: 1500px;
}
header {
	grid-area: title;
	font-size: 2.2rem;
	width: auto;
	padding: 10px;
	margin: auto;
	border: 1px solid gainsboro;
	border-radius: 6px;
}
.type_entry {
	grid-area: type_entry;
	display: grid;
	gap: 6px;
	grid-template-areas: "title" "input" "add_btn";
	border: 1px solid gainsboro;
	border-radius: 6px;
	width: 100%;
	margin: auto;
	padding: 6px 20px 10px;
}
.type_entry p {
	font-size: 1.35rem;
	font-weight: 600;
}
.type_entry input {
	text-align: center;
}
.type_entry_title {
	grid-area: title;
}
.steel_id {
	grid-area: input;
}
.add_btn {
	grid-area: add_btn;
}
.len_freq_input {
	min-width: 200px;
	max-width: 100%;
	grid-area: len_freq_input;
	display: grid;
	gap: 10px;
}
.result_output {
	grid-area: result_output;
	border: 1px solid gainsboro;
	border-radius: 6px;
}
.data_input_section,
.data_output_section {
	border-radius: 6px;
}
.data_input_section {
	border: 1px solid gainsboro;
	display: grid;
	gap: 10px;
	grid-template-areas: "input_section_title" "steel_type_selector" "LAF_title" "length_and_frequencies" "row_add_btn";
	padding: 10px;
}
.input_section_title {
	background-color: whitesmoke;
	padding: 10px;
	grid-area: input_section_title;
	font-size: 2.2rem;
	border-radius: 10px;
}
.steel_type_selector {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 2fr;
	grid-area: steel_type_selector;
}
.steel_type_selector p {
	font-size: 1.25rem;
	font-weight: 600;
}
.steel_type_selector select {
	display: block;
	border: 1.6px solid gainsboro;
	border-radius: 6px;
	height: 1.75rem;
}
.length_and_frequencies {
	position: relative;
	display: grid;
	gap: 10px;
	padding: 16px;
	grid-template-areas: "row_number_viewers length_inputs frequency_inputs";
	grid-area: length_and_frequencies;
	overflow-y: auto;
	height: 250px;
	background-color: whitesmoke;
}
.row_number_viewers {
	display: grid;
	grid-area: row_number_viewers;
	gap: 6px;
	grid-template-rows: repeat(auto-fill, minmax(auto, 36px));
	width: 30px;
}
.row_number_viewers p {
	padding: 7px;
	border: 1px solid gainsboro;
	border-radius: 8px;
}
.length_inputs {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(auto-fill, minmax(auto, 36px));
	grid-area: length_inputs;
}
.frequency_inputs {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(auto-fill, minmax(auto, 36px));
	grid-area: frequency_inputs;
}
.LAF_title {
	display: grid;
	gap: 10px;
	grid-template-columns: auto auto;
	grid-area: LAF_title;
	width: 100%;
}
.LAF_title p {
	font-size: 1.5rem;
	background-color: whitesmoke;
	border-radius: 6px;
	padding: 6px;
}
.leng_prop_title {
	font-size: x-large;
	background-color: darkgray;
	height: 30px;
	color: white;
}
.length_inputs,
.frequency_inputs {
	display: grid;
	gap: 6px;
}
.freq_prop_title {
	font-size: x-large;
	background-color: darkgray;
	height: 30px;
	color: white;
}
.row_add_btn {
	width: 60%;
	margin: auto;
}
[type="number"],
[type="text"] {
	font-size: large;
	width: 100%;
	border: 1.6px solid gainsboro;
	border-radius: 8px;
	padding: 6px 10px 6px 20px;
	color: rgb(0, 0, 0);
	background-color: white;
}
.steelId_input_class {
	width: 100%;
	border: 1.6px solid gainsboro;
	border-radius: 8px;
	padding: 7px 10px 7px 20px;
	color: rgb(0, 0, 0);
	background-color: white;
}
.row_add_button, .stl_add_button {
	width: 100%;
	color: white;
	background: hsl(122, 39%, 49%);
	border: none;
	border-radius: 4px;
	padding: 6px 0px;
	font-size: 1rem;
	font-weight: 600;
}
.row_add_button:active, .stl_add_button:active {
	background: hsl(122, 39%, 45%);
}
button:hover {
	animation-name: shadow;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.remove_buttons {
	color: white;
	background: #b350af;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 600;
}
@keyframes shadow {
	100% {
		box-shadow: 0px 6px 10px grey;
	}
}
p {
	text-align: center;
	font-weight: 400;
}
.data_output_section {
	display: grid;
	gap: 10px;
	grid-template-areas: "output_section_title" "SAR_title" "types_and_requirements";
	padding: 10px;
}
.SAR_title {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-area: SAR_title;
}
.SAR_title p {
	font-size: 1.5rem;
	background-color: whitesmoke;
	border-radius: 6px;
	padding: 6px;
}
.output_section_title {
	font-size: 2.2rem;
	padding: 10px;
	background-color: whitesmoke;
	border-radius: 10px;
	grid-area: output_section_title;
	width: 80%;
	margin: auto;
}
.types_and_requirements {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 60px;
	height: 450px;
	background-color: whitesmoke;
	border-radius: 10px;
	padding: 10px;
	overflow-y: auto;
}
.numeric_output_data {
	margin: 10px auto;
	width: 80%;
	overflow-y: auto;
}
.remover {
	display: grid;
	grid-template-rows: repeat(auto-fill, 33px);
	gap: 12px;
}
.steel_type_class {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(auto, 36px));
	gap: 10px;
}
.stdL_req_class {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(auto, 36px));
	gap: 10px;
}
